  <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        {% load static %}
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/detect.js' %}"></script>
        <script src="{% static 'assets/js/fastclick.js' %}"></script>
        <script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'assets/js/jquery.blockUI.js' %}"></script>
        <script src="{% static 'assets/js/waves.js' %}"></script>
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>

        <script src="{% static 'assets/plugins/peity/jquery.peity.min.js' %}"></script>

        <script src="{% static 'assets/plugins/jquery-sparkline/jquery.sparkline.min.js' %}"></script>


		<script src="{% static 'assets/pages/jquery.dashboard_3.js' %}"></script>

        <script src="{% static 'assets/js/jquery.core.js' %}"></script>
        <script src="{% static 'assets/js/jquery.app.js' %}"></script>


        <script src="{% static 'assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
	    <script src="{% static 'assets/plugins/jquery-datatables-editable/jquery.dataTables.js' %}"></script>
	    <script src="{% static 'assets/plugins/datatables/dataTables.bootstrap.js' %}"></script>
	    <script src="{% static 'assets/plugins/tiny-editable/mindmup-editabletable.js' %}"></script>
	    <script src="{% static 'assets/plugins/tiny-editable/numeric-input-example.js' %}"></script>


	    <script src="{% static 'assets/pages/datatables.editable.init.js' %}"></script>

	    <script>
			$('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
		</script>
